@charset "UTF-8";
.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 0.88888;
}

.logo {
  text-align: center;
  margin-bottom: 61px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-bottom: 13px;
}

/***********************************************************************/
/**********               headerの全体設定                  *************/
/***********************************************************************/
#header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /***************headerの全体設定***************/
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /*********************************************/
}

#header .header-inner {
  /***************headerの中身設定***************/
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  /********** end of headerの中身設定   *********/
  /***************headerのロゴ設定***************/
  /*********************************************/
  /****************hamburgerメニューの3本線*********************/
  /****hamburgerメニューの3本線の設定******/
  /**************************************/
  /***************   end of hamburgerメニューの3本線    ******************/
}

#header .header-inner .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-inner .header-logo img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: none;
  z-index: 10;
}

#header .header-inner .header-logo .logo-active {
  display: block;
}

#header .header-inner .header-logo p {
  font-family: toppan-bunkyu-midashi-min-st, serif;
  font-size: 32px;
  line-height: 1.5em;
  letter-spacing: 0.18em;
  color: #fff;
  font-weight: 800;
}

#header .header-inner #burger-btn {
  display: none;
  z-index: 20;
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 30px;
}

#header .header-inner #burger-btn .bar {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
}

#header .header-inner #burger-btn .bar-top,
#header .header-inner #burger-btn .bar-mid {
  margin-bottom: calc((30px - (3px * 3)) / 2);
}

#header .header-inner .scroll .bar {
  background-color: #000;
}

#header .header-inner .scroll .bar-top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(calc((30px - 3px) / 2)) rotate(30deg);
          transform: translateY(calc((30px - 3px) / 2)) rotate(30deg);
}

#header .header-inner .scroll .bar-mid {
  opacity: 0;
}

#header .header-inner .scroll .bar-bot {
  -webkit-transform: translateY(calc((-1) * (30px - 3px) / 2)) rotate(-30deg);
          transform: translateY(calc((-1) * (30px - 3px) / 2)) rotate(-30deg);
}

#header .header-inner #header-nav {
  display: block;
  margin-left: 120px;
}

#header .header-inner #header-nav .nav-list .nav-item {
  display: inline-block;
}

#header .header-inner #header-nav .nav-list .nav-item a {
  color: #fff;
  font-weight: 800;
}

#header .header-inner #header-nav .nav-list .nav-item .text {
  line-height: 2.625em;
}

#header .header-inner #header-nav .nav-list .nav-item:nth-child(n + 2) {
  margin-left: 33px;
}

#header .header-inner .reserv {
  height: 54px;
  background-color: #978f10;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 37px;
  margin: 0 0 0 auto;
}

#header .header-inner .reserv img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

#header .header-inner .reserv p {
  line-height: 3em;
  font-weight: 800;
}

/********************* ena of header  **********************************/
/***********************************************************************/
/***********************************************************************/
/**********                modalの設定                      *************/
/***********************************************************************/
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.modal .modal-bg {
  background: rgba(255, 255, 255, 0.7);
  height: 100vh;
  width: 100%;
}

.modal .modal-content {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 25px 60px 90px 60px;
}

.modal .modal-content .modal-close {
  position: absolute;
  top: 20px;
  right: 22px;
  font-size: 18px;
  line-height: 1em;
}

.modal-title {
  font-size: 20px;
  line-height: 1.35em;
  text-align: center;
}

.modal-bar {
  display: block;
  width: 100%;
  margin: 26.5px 0 32.5px 0;
  height: 1px;
  border: none;
  border-top: 1px #e7e7e7 solid;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75.44vw;
  max-width: 430px;
}

.modal-form label {
  font-size: 16px;
  line-height: 1.3125em;
}

.modal-form input,
.modal-form select {
  font-size: 14px;
  line-height: 1.3571em;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 6px 10px;
  margin: 12px 0 11px 0;
}

.modal-form .modal-button {
  width: 198px;
  height: 42px;
  border: 1px solid #707070;
  margin: 53px auto 0 auto;
}

/*********************  ena of modal    **********************************/
/***********************************************************************/
/************************************************************************/
/**************************       Top      ******************************/
/************************************************************************/
.top {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.top .top-title {
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  color: #fff;
  z-index: 5;
  font-size: 34px;
  line-height: 1.2353em;
  position: absolute;
  top: 32.9%;
  right: 26.4583%;
  letter-spacing: 0.3em;
}

.top .top-title p:nth-of-type(1) {
  margin-left: 51px;
}

.top .swiper-container {
  width: 100%;
  height: 100%;
}

.top .swiper-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.top .swiper-container .swiper-slide-active img,
.top .swiper-container .swiper-slide-duplicate-active img,
.top .swiper-container .swiper-slide-prev img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

/********************end of top *********************************/
/************************************************************************/
/**************************      info      ******************************/
/************************************************************************/
.info {
  background-image: url(../img/bg-min.png);
  background-size: cover;
  width: 100%;
  padding: 60px 50px;
}

.info .info-inner {
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  letter-spacing: 0.8em;
}

.info-title {
  font-size: 28px;
  line-height: 1.5;
  margin-left: 118px;
}

.info-title .space {
  margin-top: 85px;
  margin-right: 33px;
}

.info-read {
  line-height: 1.375em;
  margin-top: 87px;
  margin-left: 118px;
}

.info-read br {
  display: block;
  content: "";
  padding: 11px;
}

.info-name {
  font-size: 22px;
  text-align: end;
}

/********************end of info *********************************/
/************************************************************************/
/**************************      jumps      ******************************/
/************************************************************************/
.jumps {
  padding: 106px 0 78px 0;
}

.jump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jump-image {
  width: 54.6875vw;
  height: 28.38642vw;
  min-height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jump:nth-of-type(2) {
  margin-left: auto;
  margin-right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jump:nth-of-type(2) .jump-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0px;
  margin-left: 30px;
}

.jump:nth-of-type(2) .jump-text {
  margin-right: 216px;
}

.jump:nth-of-type(n + 2) {
  margin-top: 122px;
}

.jump:nth-of-type(odd) .jump-text {
  margin-left: 137px;
}

.jump-title {
  line-height: 1.72222em;
}

.jump-read {
  margin: 67px 0 73px 0;
}

.jump-button {
  display: block;
  width: 200px;
  height: 56px;
  border: 1px solid #70707070;
  text-align: center;
  line-height: 56px;
  margin-top: 25px;
}

.jump-text {
  margin-top: 25px;
}

/********************end of jumps *********************************/
/************************************************************************/
/**************************      plans     ******************************/
/************************************************************************/
.plans {
  background-image: url(../img/bg02@2x-min.png);
  background-size: cover;
  padding: 60px 0 142px 0;
}

.plan-detail {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan {
  width: 30.65%;
  max-width: 331px;
  cursor: pointer;
}

.plan-imgbox {
  width: 100%;
}

.plan-imgbox .plan-image {
  background-size: cover;
  background-position: center;
  padding-top: 63.142%;
}

.plan-text {
  font-size: 20px;
  line-height: 2em;
  margin: 28px 0 30px 0;
  padding-right: 15px;
}

/********************end of plans *********************************/
/***********************************************************************/
/**********                notice                          *************/
/***********************************************************************/
.notice {
  padding: 60px 0;
}

.group .tab-group,
.group .panel-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.group .tab-group .tab,
.group .panel-group .tab {
  cursor: pointer;
  line-height: 1em;
}

.group .tab-group .panel,
.group .panel-group .panel {
  width: 100%;
  max-width: 1180px;
  display: none;
  margin: 0 auto;
}

.group .tab-group .is-show,
.group .panel-group .is-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group .tab-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 38px 0 47px 0;
}

.group .tab-group .tab:nth-of-type(2) {
  margin-left: 53px;
}

.group .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group .card-box .card:nth-of-type(n + 2) {
  margin-bottom: 20px;
}

.group .card {
  cursor: pointer;
  width: 570px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.group .panel-text {
  text-align: left;
  padding-right: 97px;
}

.group .panel-text .date {
  font-size: 14px;
  line-height: 2.2857em;
}

.group .panel-img {
  width: 103px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
}

.is-active {
  border-bottom: 1px solid #707070;
}

/********************end of notice *********************************/
/***********************************************************************/
/**********                access                          *************/
/***********************************************************************/
.access {
  padding: 60px 0 110px 0;
  background-image: url(../img/bg-min.png);
  background-size: cover;
  width: 100%;
  height: auto;
}

.access-info {
  width: 100%;
  max-width: 1300px;
  padding: 0 32px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 69px;
}

.access-info img {
  width: 53.07443%;
  height: 370px;
  margin-right: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.access-read {
  width: 497px;
}

.access-read p:nth-of-type(n + 2) {
  margin-top: 3px;
}

.access-map {
  width: 89.919vw;
  max-width: 892px;
  height: 59.6774vw;
  max-height: 592px;
  margin: 0 auto;
}

.access-map iframe {
  width: 100%;
  height: 100%;
}

.access-b {
  font-weight: 800;
}

/********************end of access *********************************/
/***********************************************************************/
/**********                links                           *************/
/***********************************************************************/
.links {
  background-image: url(../img/bg3@2x-min.png);
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.links .logo {
  margin-bottom: 65px;
}

.links .title {
  line-height: 1.5em;
  letter-spacing: 0.18em;
}

.linkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 93px;
}

.linkbox .link {
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  font-size: 18px;
  line-height: 1.7777;
  letter-spacing: 1em;
}

.linkbox .link:nth-of-type(n + 2) {
  margin-right: 20px;
}

.link-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-info .text {
  line-height: 2em;
}

.link-info:nth-of-type(1) {
  margin-bottom: 2px;
}

.link-info:nth-of-type(1) .link-info-second {
  margin-left: 16px;
  letter-spacing: 0.18em;
}

.link-info:nth-of-type(2) .link-info-second {
  margin-left: 21px;
}

/********************end of links *********************************/
/***********************************************************************/
/**********                footer                          *************/
/***********************************************************************/
footer {
  height: 60px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
  font-size: 12px;
  line-height: 2em;
}

/********************end of footer *********************************/
/*# sourceMappingURL=style.css.map */