.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
}
.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 0.88888;
}

/***********************************************************************/
/**********               headerの全体設定                  *************/
/***********************************************************************/
header {
  /***************headerの全体設定***************/
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  /*********************************************/

  .header-inner {
    /***************headerの中身設定***************/
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 1920px;
    margin: 0 auto;
    /********** end of headerの中身設定   *********/

    /***************headerのロゴ設定***************/
    .header-logo {
      display: flex;
      img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }
      p {
        font-family: toppan-bunkyu-midashi-min-st, serif;
        font-size: 3.2em;
        line-height: 1.5;
        letter-spacing: 0.18em;
        color: #fff;
        font-weight: 800;
      }
    }
    /*********************************************/

    /****************hamburgerメニューの3本線*********************/
    /****hamburgerメニューの3本線の設定******/
    $bar-wid: 40px;
    $bar-hei: 30px;
    $line-hei: 3px;
    /**************************************/
    #burger-btn {
      display: none;
      background-color: green;
      z-index: 10;
      position: relative;
      width: $bar-wid;
      height: $bar-hei;

      .bar {
        display: block;
        height: $line-hei;
        width: 100%;
        background-color: #fff;
        transition: 0.3s;
        z-index: 10;
      }
      .bar-top,
      .bar-mid {
        margin-bottom: calc((#{$bar-hei} - (#{$line-hei} * 3)) / 2);
      }
    }
    .scroll {
      .bar-top {
        transform-origin: center;
        transform: translateY(calc((#{$bar-hei} - #{$line-hei}) / 2))
          rotate(30deg);
      }
      .bar-mid {
        opacity: 0;
      }
      .bar-bot {
        transform: translateY(calc((-1) * (#{$bar-hei} - #{$line-hei}) / 2))
          rotate(-30deg);
      }
    }
    /***************   end of hamburgerメニューの3本線    ******************/

    #header-nav {
      margin-left: 12em;
      .nav-list {
        .nav-item {
          display: inline-block;
          a {
            color: #fff;
            font-weight: 800;
          }
          .text {
            line-height: 2.625em;
          }
        }
        .nav-item:nth-child(n + 2) {
          margin-left: 33px;
        }
      }
    }

    .reserv {
      height: 54px;
      background-color: #978f10;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 37px;
      margin: 0 0 0 auto;

      img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
      p {
        line-height: 3em;
        font-weight: 800;
      }
    }
  }
}
/********************* ena of header  **********************************/
/***********************************************************************/

/************************************************************************/
/**************************       Top      ******************************/
/************************************************************************/
.top {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .top-title {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    color: #fff;
    z-index: 5;
    font-size: 34px;
    line-height: 1.2353em;
    position: absolute;
    top: 32.9%;
    right: 26.4583%;

    p:nth-of-type(1) {
      margin-left: 51px;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @keyframes zoomUp {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.3);
      }
    }

    .swiper-slide-active img,
    .swiper-slide-duplicate-active img,
    .swiper-slide-prev img {
      animation: zoomUp 10s linear 0s 1 normal both;
    }
  }
}

/********************end of top *********************************/

/************************************************************************/
/**************************      info      ******************************/
/************************************************************************/
.info {
  background-image: url(../image/bg@2x.png);
  background-size: cover;
  width: 100%;
  padding: 60px 0;

  .info-inner {
    width: 900px;
    margin: 0 auto;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    letter-spacing: 0.8em;
  }
}
.info-title {
  font-size: 28px;
  line-height: 1.5;

  .space {
    margin-top: 85px;
    margin-right: 33px;
  }
}
.info-read {
  line-height: 1.375;
  margin-top: 87px;
  margin-left: 118px;

  br {
    display: block;
    content: "";
    padding: 11px;
  }
}
.info-read:nth-of-type(1) {
  margin-right: 118px;
}
.info-name {
  font-size: 22px;
  text-align: end;
}
/********************end of info *********************************/

/************************************************************************/
/**************************      jumps      ******************************/
/************************************************************************/
.jumps {
  padding: 106px 0 78px 0;
}
.jump {
  display: flex;
}
.jump-image {
  width: 1050px;
  height: 545px;
  object-fit: cover;
}
.jump:nth-of-type(2) {
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
  .jump-image {
    order: 2;
  }
  .jump-read {
    margin-right: 216px;
  }
}
.jump:nth-of-type(n + 2) {
  margin-top: 122px;
}
.jump:nth-of-type(odd) .jump-text {
  margin-left: 137px;
}
.jump-title {
  line-height: 1.72222;
}
.jump-read {
  margin: 67px 0 73px 0;
}
.jump-button {
  display: block;
  width: 200px;
  height: 56px;
  border: 1px solid #70707070;
  text-align: center;
  line-height: 56px;
  margin-top: 25px;
}
/********************end of jumps *********************************/

/************************************************************************/
/**************************      plans     ******************************/
/************************************************************************/
.plans {
  background-image: url(../image/bg02@2x.png);
  background-size: cover;
  padding: 60px 0 142px 0;
}
.plan-logo {
  text-align: center;
  margin-bottom: 61px;
  img {
    width: 40px;
    height: 40px;
    margin-bottom: 13px;
  }
}
.plan-detail {
  display: flex;
  justify-content: center;
}
.plan:nth-of-type(n + 2) {
  margin-left: 94px;
}
.plan-image {
  width: 331px;
  height: 209px;
  object-fit: cover;
}
.plan-text {
  font-size: 20px;
  line-height: 2em;
  margin: 28px 0 30px 0;
}
