@media screen and (max-width: 730px) {
  .info .info-inner {
    writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    letter-spacing: 0.4em;
  }

  .info-title {
    font-size: 28px;
    margin-left: 0;

    .space {
      margin-top: 20px;
      margin-right: 0;
    }
  }
  .info-read {
    margin-left: 10vw;
    margin-top: 50px;

    br {
      padding: 0;
    }
  }
  .info-name {
    margin-top: 50px;
  }

  .access-info {
    flex-direction: column;

    img {
      width: 100%;
      margin-right: 0;
    }
  }
  .access-read {
    padding: 50px 20px 0 20px;
    width: 100%;

    p:nth-of-type(n + 2) {
      margin-top: 3px;
    }
  }

  .br-730, .br-730-none {
    display: none;
  }
}

@media screen and (max-width: 595px) {
  .bottom-text {
    height: auto;
    padding: 90px 30px 40px 30px;
  }
  .box2 .bottom-text {
    padding-left: 30px;
  }
  .bottom-read {
    margin-bottom: 15px;
  }
}

$jump-hei: 600px;
@media screen and (max-width: 570px) {
  .modal .modal-content {
    padding: 25px 30px 30px 30px;
  }

  .jump:nth-of-type(n) {
    position: relative;
    .jump-text {
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      position: absolute;
      top: 0;
      padding: 0 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: #{$jump-hei};
    }
  }
  .jump-image {
    height: #{$jump-hei};
    filter: brightness(50%);
  }
  .jump-button {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border: 1px solid #fff;
  }
  .br-570 {
    display: block;
  }
  .info-read .br-570-none {
    display: none;
  }

  .notice {
    padding: 60px 30px;
  }
  .pane-read {
    line-height: 1.5em;
  }
  .group {
    .card {
      height: 130px;
      padding: 0;
      display: block;
      position: relative;
      background-color: #fff;
    }
    .panel-text {
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      position: absolute;
      top: 15px;
      text-shadow: 1px 1px 1px #000;
    }
    .panel-img {
      width: 100%;
      height: 100%;
      margin-right: 0;
      filter: opacity(0.85);
    }

    .card:hover {
      .panel-img {
        filter: opacity(1);
      }
    }
  }

  .access-map {
    width: 89.919vw;
    max-width: 892px;
    height: 100vw;
  }
}

@media screen and (max-width: 500px) {
  /***********************************************************************/
  /**********               headerの全体設定                  *************/
  /***********************************************************************/
  #header {
    height: 50px;

    .header-inner {
      /***************headerのロゴ設定***************/
      .header-logo {
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
        p {
          font-size: 24px;
          letter-spacing: 0.18em;
        }
      }
      #burger-btn {
        margin-left: 10px;
      }

      .reserv {
        height: 33.75px;
        padding: 0 23.125px;

        img {
          width: 13.75px;
          height: 13.75px;
          margin-right: 10px;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
  /********************* ena of header  **********************************/
  .plans {
    padding: 60px 30px 142px 30px;
  }

  .info-read {
    margin-top: 30px;
  }

  .bottom-main {
    padding-top: 50px;

    .text {
      line-height: 1.5em;
    }
  }
  .br-500-none {
    display: none;
  }
  .bottom-contents {
    padding: 33px 30px 150px 30px;
  }

  .img-box {
    img {
      width: 100%;
      height: 50vw;
    }
  }
  .bottom-box {
    height: calc(50vw + 331px);
  }
  .bottom-text {
    display: block;
    width: 100%;
    padding: 30px 30px 30px 30px;
    top: 50vw;
    min-height: initial;
  }
  .bottom-read {
    margin: 30px 0 15px 0;
  }
  .onsen-contents {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 403px) {
  .info-title .space {
    margin-top: 0;
  }
  .br-400-none {
    display: none;
  }
  .jump-read {
    margin: 30px 0 30px 0;
  }
  .br-400 {
    display: block;
  }
  .bottom-text {
    padding: 30px 25px 30px 25px;
  }
  .box2 .bottom-text {
    padding-left: 25px;
  }
}
